In [ ]:
'''1.Write a Python program that defines three
types of variables:
 A string variable to store your name.
 An integer variable to store your age.
 A float variable to store your height in meters.'''
name='karthi'
age=24
height=181.5
print(name,type(name))# printing name and the type

print(age,type(age)) #printing age and its type

print(height,type(height)) #printing height and its type

karthi <class 'str'>
24 <class 'int'>
181.5 <class 'float'>

In [ ]:
'''2.Create a list of five fruits (["apple", "banana", "cherry", "date", "elderberry"]):
a) Print the first and last fruit from the list.
b) Add a new fruit to the end of the list.
c) Remove the second fruit from the list.
d) Sort the list in alphabetical order and print it.'''

fruits=["apple", "banana", "cherry", "date", "elderberry"]
print(fruits[0],fruits[-1]) #printing first and last fruit in list
fruits.append("blueberry") #adding new fruit
print(fruits)
fruits.pop(1) #removing 2nd fruit from list
print(fruits)
fruits.sort() #ordering the fruit list
print(fruits)

apple elderberry
['apple', 'banana', 'cherry', 'date', 'elderberry', 'blueberry']
['apple', 'cherry', 'date', 'elderberry', 'blueberry']
['apple', 'blueberry', 'cherry', 'date', 'elderberry']

In [ ]:
'''3. Create a tuple to store the names of three programming languages ("Python", "Java", "C++"):
a) Access the second language in the tuple.
b) Try to replace the second language with "JavaScript". What happens?
c) Convert the tuple to a list, make the modification, and convert it back to a tuple'''

language=("Python", "Java", "C++")
print(language[1])
#language[1]="JavaScript" #Occurs error while trying to modify.'tuple' object does not support item assignment
print(language)
lang=list(language) #converting tuple to list
lang[1]="JavaScript" #trying to modify
language=tuple(lang) #again converting list to tuple
print(language)

Java
('Python', 'Java', 'C++')
('Python', 'JavaScript', 'C++')

In [ ]:
'''4. Create a dictionary with the following student details:
•	name: "John"
•	age: 18
•	grade: "A"
a) Access and print the value of grade.
b) Add a new key-value pair for hobby with the value "reading".
c) Delete the age key from the dictionary.'''

std_det={"name":"John","age":18,"grade":"A"}
print(std_det["grade"]) # printing grade value
std_det["hobby"]="reading" #adding new key-value pair
print(std_det)
del std_det["age"] # deleting age key from dictonary
print(std_det)

A
{'name': 'John', 'age': 18, 'grade': 'A', 'hobby': 'reading'}
{'name': 'John', 'grade': 'A', 'hobby': 'reading'}

In [ ]:
'''5. You are given the following dictionary:
marks = {"Math": 85, "Science": 90, "English": 78}
a) Find the average marks across all subjects.
b) Update the marks for Math to 88.
c) Check if the key "History" exists in the dictionary.'''

marks = {"Math": 85, "Science": 90, "English": 78}
sum=0
history_ch=False
for i in marks:
  sum+=marks[i] # calculating sum for average
  if(i=="History"):#checking history key is there or not in dictonary
    history_ch=True
avg=sum/len(marks)
print("Average Mark=",avg)
marks["Math"]=88 # updating math value to 88
print(marks)

if(history_ch):
  print("History Key is availabe in dictonary")
else:
  print("History key is not available in dictonary")

Average Mark= 84.33333333333333
{'Math': 88, 'Science': 90, 'English': 78}
History key is not available in dictonary

In [ ]:
'''6. Write a Python function named square that takes an integer as input and returns its square.
•	Call the function with the value 7 and print the result.'''

def square(x):
  return x*x

print(square(7))

49

In [ ]:
'''7. Write a Python function named greet that takes two parameters:
•	name (a string)
•	message (a string with a default value of "Welcome!")
Call the function twice:
1.	Once by providing both name and message.
2.	Once by providing only name.'''

def greet(name,message="Welcome"):
  return message+" "+ name

print(greet("karthick","Hola"))
print(greet("karthi"))

Hola karthick
Welcome karthi

In [ ]:
'''8. Write a Python function named student_info that accepts the following parameters:
•	name (string)
•	age (integer)
•	grade (string, default value is "A")
Call the function with:
1.	Positional arguments only.
2.	Keyword arguments only.
Print the result in each case.'''

def student_info(name,age,grade="A"):
  return f"Student Name: {name}, Age: {age}, Grade: {grade}"# it is a formatted string literal
  #return name ,age , grade

print("Positional Arguments:",student_info("karthi",24,"A"))

print("Keyword Arguments:",student_info(age=22,name="karthick",grade="c"))

Positional Arguments: ('karthi', 24, 'A')
Keyword Arguments: ('karthick', 22, 'c')

In [ ]:
'''9. Write a Python program with the following requirements:
a) Create a list of numbers: [10, 20, 30, 40, 50].
b) Define a function named double_values that takes a list as input and returns a new list with each value doubled.
c) Pass the list to the function and print the returned list.'''

list_of_numbers= [10, 20, 30, 40, 50]# creating a list
def double_values(num): # creating function to return list with each value doubled
  new_list=[]
  for i in range(0,len(num)):
    new_list.append(num[i]*2)
  return new_list

print(double_values(list_of_numbers)) #passing value and printing

[20, 40, 60, 80, 100]

In [ ]:
'''10. Create a dictionary named students to store the names and grades of three students:
students = {"Alice": 85, "Bob": 78, "Eve": 92}
a) Write a function named add_student that accepts a dictionary, a student name, and a grade, then adds the student to the dictionary.
b) Write another function named average_grade that calculates the average grade of all students in the dictionary.
Call the functions to:
1.	Add a new student ("David": 88).
2.	Calculate and print the average grade.'''

students = {"Alice": 85, "Bob": 78, "Eve": 92}

def add_student(std,name,grade):
  std[name]=grade
  return std

def average_grade(std):
  sum=0
  for keys in std:
    sum+=std[keys]
  avg=sum/len(std)
  return avg

name=input("Enter Name:")
grade=int(input("Enter Grade:"))
print(add_student(students,name,grade))

print(average_grade(students))

Enter Name:David
Enter Grade:87
{'Alice': 85, 'Bob': 78, 'Eve': 92, 'David': 87}
85.5